#search-submit{}
#searchResults{}
#searchName{}
#searchLocation{}
#searchType{}

body{
    background:#aaddaa;
    font-family:"Arial";
}

p{
    font-size: 18px;
}

.greenBG{
    background:#90cc90;
}

th{
    background:#ffffdd;
}

td{
    background:#fafacc;
    text-align:center;
}

#title{
    background:#70aa70;
    font-size:50px;
    margin: auto;
}

.centered{
    text-align:center;
}

.righted{
    float:right;
}

#search{
    width:300px;
    height:20px;
    right:10px;
}

div.fixed {
    text-align:center;
    position:fixed;
    top: 5px;
    left: 5px;
    margin: auto;
}
