<!DOCTYPE html>
<html>
    <head>
        <title>Travis Country Trails</title>
    </head>
    <body>
        <div class="fixed">
            <h1 id="title">Travis County Trails</h1>
        </div>
        <h1 class="centered">$ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS $ ADS</h1>
        <p class="centered" style="font-size:20px">Search for a trail using:</p>
        <table style="width:100%">
            <tr>
                <th>Popular</th>
                <th>Ratings</th>
                <th>Difficulty</th>
            </tr>
            <tr>
                <th>Location</th>
                <th id="B-length">Length</th>
                <th>Type</th>
            </tr>
            <tr>
                <th></th>
                <th id="B-full">Full list</th>
                <th></th>
            </tr>
        </table>
        <div id="list-full">
            <p>- Zilker Park Trail</p>
            <p>- Gilleland Creek</p>
            <p>- Balcones</p>
            <p>- Walnut Creek</p>
            <p>- Katherine Fleischer Park</p>
            <p>- Settlers Valley</p>
            <p>- Pfairways</p>
            <p>- Copperfield</p>
            <p>- Obscure BMX Park</p>
        </div>
        <div id="list-length">
            <h2>From longest to shortest:</h2>
            <p>- Walnut Creek</p>
            <p>- Obscure BMX Park</p>
        </div>
    </body>
</html>